@font-face {
    font-family: Engcomica;
    src: url("../Engcomica.otf") format("opentype");
}

h1, h2, h3 {
    font-family: Engcomica,Arial,sans-serif !important;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255,255,255,.5);
}

header {
    text-align: center;
    padding: 10rem 5rem;
}

section {
    padding: 2.5rem;
    height: 100%;
}
section:last-child {
    border-right: none;
}

#timer {
    display: none;
    text-align: center;
}

h2 {
    line-height: 100%;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.summary {
    background-color: #eee;
    margin-bottom: 1rem;
    padding: 1.5rem 1.75rem;
    border-radius: 1rem;
}

#current-task {
	margin-bottom: 8px !important;
}
